<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Express</a><p class="navbar-text">study contents</p>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/st_get">GET</a></li>
        <li><a href="/st_post">POST</a></li>
        <li><a href="/st_upload">UPLOAD</a></li>
      </ul>
   </div>
</nav>
